version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}              # database mặc định
      MYSQL_USER: ${DB_USER}                  # user app
      MYSQL_PASSWORD: ${DB_PASSWORD}          # mật khẩu của user
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -udb_admin -pAdm!n#9876 --silent"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7.0
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"
    environment:
      REDIS_URL: redis://redis:6379
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nodejs_container
    restart: always
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

volumes:
  mysql_data: